

.Dashboard-body {
    width: 100% !important;
    background: #f8f9fa;
    height: 100vh !important;
    padding: 20px;
    overflow: auto;
}

.Dashboard-search{
    right: 0;
    position: absolute;
    margin-right: 20px;
    display: block !important;
}

.order-box {
    display: flex;
}


.arrow-pic img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    
  }

  .document-pic img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    
  }

  .bag-pic img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    
  }

  .wallet-pic img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    
  }

  .arrow-pic{
    
    border-radius: 50%;
    background-color: #daffeb;
    padding: 20px;
    margin-right: 20px;
  }

  .document-pic{
    
    border-radius: 50%;
    background-color: #e7daff;
    padding: 20px;
    margin-right: 20px;
  }

  .bag-pic{
   
    border-radius: 50%;
    background-color: #cbf2fe;
    padding: 20px;
    margin-right: 20px;
  }

  .wallet-pic {
    
    border-radius: 50%;
    background-color: #ffbbe2;
    padding: 20px;
    margin-right: 20px;
  }

  .order-box{
    background-color: #ffffff;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;

  }

  p.order-box-title {
    font-size: 12px;
}

p.order-box-title {
    font-size: 12px;
}

p.order-box-stat {
    font-size: 12px;
}

.order-name {
    padding-top: 15px;
}

.search-button{
    position: absolute;
    border: none;
    color: #000000;
}

.search-button:hover{
    background-color: rgba(255, 255, 255, .4);
    color: #000000;

     }

     .search-button:focus-visible   {
        background-color: rgba(255, 255, 255, .4);
        color: #000000;
    
         }

         .search-button:active   {
            background-color: rgba(255, 255, 255, .4);
            color: #000000;
        
             }
  
             .search-button:first-child:active  {
                background-color: rgba(255, 255, 255, .4);
                color: #000000;
            
                 }
    
.form-control{
    padding-left: 10px;
    background: #fafbff !important;
    border-color: #fafbff !important;
}

::placeholder {
    padding-left: 30px;
  }

  .Chart-div{
    height: 300px !important;
    margin-top: 30px;
  }

  .inventory-div{
    margin-top: 80px;

  }

  .recharts-responsive-container {
    height: 250px !important;
}

.Doughnut-newusers{
    margin-bottom: 20px;
}

.col-sm-8 {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

.col-sm-4{
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

.Chart-Col-b{
  width: 64%;
}


.Chart-Col-s{
  width: 30%;
}


.Chart-Row{
  display: flex;
  justify-content: space-around;
}

.Chart-Header{
  display: flex;
    padding: 0px 10px 20px 10px;
}

.Chart-Dropdown{
  background: #fafbff !important;
  border-color: #fafbff !important;
  color: #9C9C9C;
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
}

.Chart-Dropdown:hover{
  background: #fafbff !important;
  border-color: #fafbff !important;
  color: #9C9C9C;
}

.Chart-Dropdown:focus{
  background: #fafbff !important;
  border-color: #fafbff !important;
  color: #9C9C9C;
}

.Chart-Dropdown-body{
  height: 50px;
}

.Profile-Heading-Line{
  font-weight: 600;
}

.Overview-Title {
  font-weight: 700;
    font-size: 18px;
}

.Overview-SubTitle{
  font-size: 15px;
}

.inventory-col{
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
}

hr.Divider {
  
  width: 130% !important;
  margin-left: -200px !important;
  border: 2px solid #f8f9fa !important;
}

.Productsell-div-min{

  width: 70% !important;
}

.Productsell-div{

  max-width: 10% !important;
  text-align: center;
  align-items: center;
    display: grid;
}

.Product-pic img {
  width: 60px !important;
  margin-right: 20px;
}


@media only screen and (max-width: 768px) {
  .Dashboard-search {
    right: 0;
    position: absolute;
    margin-right: 0px;
    display: block !important;
    width: 50%;
}

.Chart-Col-b {
  width: auto;
}

.Chart-Col-s {
  width: auto;
  margin-top: 30px;
}

.inventory-div {
  margin-top: 530px;
}

.inventory-col {
  
  margin: 0px;

}

.Productsell-div {
  max-width: 20% !important;
  align-items: flex-start;
}

.profile-box {
  display: block;
  
}





}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .Productsell-div {
    max-width: 15% !important;
    
}
.inventory-div {
  margin-top: 500px;
}

.Chart-Col-b {
  width: 95%;
  margin: 20px !important;
}

.Chart-Col-s {
  width: 95%;
  margin-top: 10px;
}

.inventory-col {

  margin-top: 60px;
}

.Productsell-div {

  align-items: start;
  
}

.profile-box {
  display: block;
}
}
